body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../img/fond.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed; /* Fond d'écran fixe */
}

nav {
    background-color: #333;
    color: rgb(177, 233, 255);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: rgb(177, 233, 255);
    text-decoration: none;
    font-size: 18px;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

#stats-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 40px;
    opacity: 0.9;
}

.user-card {
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.user-card h2 {
    margin: 0 0 10px;
    color: #6d0073;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #5c0054;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

